body{
    background-image: url(../images/poster_ed1f4139-467e-4a5e-b9b4-7583688c122c.jpeg);
    background-repeat:repeat;
    background-size: cover;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:mashti;
}
@font-face {
    font-family:mashti;
    src: url(../fonts/Iranian\ Sans.ttf);
    src: url(../fonts/Iranian\ Sans.eot);
    src: url(../fonts/Iranian\ Sans.woff);
    src: url(../fonts/Iranian\ Sans.woff2);
}
.bold{
    font-weight: bold;
    font-size: 16px;
}